
<div class="row ml-5">
  <div style="width: 18rem;">
    <div class="list-group-item">{{username}}</div>
    <div (click)="toHome()" class="list-group-item list-group-item-action">Home</div>
    <ul *ngFor="let category of categories | async" class="list-group">        
    <li (click)="toTodos(category.id)" class="list-group-item list-group-item-action">{{category.description}}</li>
  </ul>
   <div (click)="addCategory()" class="list-group-item">Add category</div>
  </div>
  <div class="col-md-6 offset-md-2">
  <div *ngIf="categoryId">
     <app-todos  [id] = "categoryId"></app-todos>
  </div>  
</div>
</div>






